<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Samsara - Game Board</title>

    <!-- Bootstrap CSS -->
    {% load static %}  
        <link rel="stylesheet" href="{% static 'game_board_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/jquery-ui.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/jquery.qtip.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">

        <script src="{% static 'game_board_app/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/utils.js' %}"></script>
        <script src="{% static 'game_board_app/js/tether.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/jquery.qtip.min.js' %}"></script>

    <script>

        function makeDraggables(){
            $('.makeMeDraggable').draggable({
                stack: $('.makeMeDraggable'),
                containment: $('body'),
                helper: "clone"
            });
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function findDroppables(){
            $(".makeMeDroppable").droppable({
                drop: function (event, ui) {
                    var $div=$(this);
                    var draggable = ui.draggable;
                    draggable = draggable.clone();
                    draggable.removeClass('col-2 makeMeDraggable').appendTo(this);

                    var params = { column: $div.attr('data-column'), row: $div.attr('data-row'), element: draggable.attr('id') }
                    
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            }
                        }
                    });
                    
                    $.ajax( { type: "POST",
                        url: '/game_board/place_building',
                        dataType: "json",
                        data: JSON.stringify(params),
                        contentType: "application/json; charset=utf-8",
                        traditional: true,
                        success: function(result) {
                            updateBoard();
                        }
                    });
                }
            });
        }

        function getPlayerInfo(){
            $.get('/game_board/get_players_info', function(res){
                
                updatePlayer(res);

                $('#complete_turn').removeAttr('disabled');

            }, "json");
        }

        function updatePlayer(res){

            $('#player1_name').html(res.current_player);
            $('#player1_health').html(res.current_player_health);
            
            $('#player2_name').html(res.opponent);
            $('#player2_health').html(res.opponent_health);
            
            updateBoard();
        }

        function applyBuildingActions(){
            $('.building_actions').qtip({
                 // Grab some elements to apply the tooltip to
                content: {
                    text: 'My common piece of text here'
                }
            });
        }

        function updateBoard() {
            $.get('/game_board/update_board', function(res){
        
                var players = res.player;

                updatePlayer(res.player)

                for(var row=0; row<res.rows.length; row++){
                    for(var square=0; square<res.rows[row].length; square++){
                        var entity = res.rows[row][square].entity;
                        if(entity.id){
                            if(!$('img[data-row="'+(row+1)+'"][data-column="'+(square+1)+'"]').length){
                                $('[data-row="'+(row+1)+'"][data-column="'+(square+1)+'"]').html('<img class="entity" id="'+entity.id+'" data-row="'+(row+1)+'" data-column="'+(square+1)+'" src="../../static/game_board_app/images/'+entity.image+'.png" data-name="'+entity.name+'" data-type="'+entity.type+'" data-health="'+entity.health+'" alt="'+entity.name+' '+entity.type+'" >');

                                if(entity.type == 'building' && row+1==res.rows.length && players.current_player_number == 2 || row+1==1 && players.current_player_number == 1)
                                    $('img[data-row="'+(row+1)+'"][data-column="'+(square+1)+'"]').addClass('building_actions');
                                
                                applyBuildingActions();
                            }
                        }else if(row+1==res.rows.length && players.current_player_number == 2 || row+1==1 && players.current_player_number == 1){
                            $('[data-row="'+(row+1)+'"][data-column="'+(square+1)+'"]').html('<div data-row="'+(row+1)+'" data-column="'+(square+1)+'" class="makeMeDroppable"></div>');
                        }else{
                            $('[data-row="'+(row+1)+'"][data-column="'+(square+1)+'"]').html('');
                        }
                    }
                }
                
                findDroppables();
                getPlayerInfo();
            });
        }

        function displayInfo($entity){
            var entity='<p><strong>'+$entity.attr('data-type')+'</strong></p>';
            var type='<p><strong>Type:</strong> '+$entity.attr('data-name')+'</p>';
            var health='<p><strong>Health:</strong> '+$entity.attr('data-health')+'</p>';
            var info=entity+type+health;
            $('#info-box').html(info);
        }

        $(document).ready(function(){

            makeDraggables();

            $.get('/game_board/get_squares', function(res){
                $('#board-area').html(res);

                updateBoard();
            });

            $(document).on('click', 'button.navbar-btn', function(){
                window.location = '/lobby';
            });

            $(document).on('mouseenter', '.entity', function(){
                displayInfo($(this));
            }).on('mouseleave', '.entity', function(){
                $('#info-box').html('');
            });

            $(document).on('click', '#complete_turn', function(){
                $.get('/game_board/complete_turn', function(res){
                    updateBoard();
                });
            });

        });
    </script>
</head>
<body>
    <div id="wrapper">

        <div id="left-column" class="container-fluid">
            <div id="menu" class="row">
                <button type="button" class="btn btn-info navbar-btn">
                    Lobby
                </button>
            </div>

            <div class="align-self-end">
                <div class="row player-hp">
                    <p>Health: <strong id="player1_health">10</strong></p>
                    <p>Actions: <strong id="player1_ap">100</strong></p>
                    <p>Resources: <strong id="player1_res">50</strong></p>
                </div>
                <div class="row player-box">
                    <div>
                        <img src="{% static 'game_board_app/images/star-empty.png' %}" alt='Profile Picture' >
                    </div>
                    <p id="player1_name">Player 1</p>
                </div>
            </div>

            <div id="info-layer" class="row">
                <div id="info-box">
                    
                </div>
            </div>
        </div>
        <div id="middle-column" class="container-fluid">
            <div id="board-area">

            </div>
            <div id="footer">
                <div id="fire" class="col-2 makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/fire_building.png' %}" data-type="Building" data-name="Fire" data-health="Blueprint" alt='fire building'  class="entity">
                </div>
                <div id="water" class="col-2 makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/water_building.png' %}" data-type="Building" data-name="Water" data-health="Blueprint" alt='water building' class="entity">
                </div>
                <div id="wood" class="col-2 makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/wood_building.png' %}" data-type="Building" data-name="Wood" data-health="Blueprint" alt='wood building'  class="entity">
                </div>
                <div id="metal" class="col-2 makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/metal_building.png' %}" data-type="Building" data-name="Metal" data-health="Blueprint" alt='metal building' class="entity">
                </div>
                <div id="earth" class="col-2 makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/earth_building.png' %}" data-type="Building" data-name="Earth" data-health="Blueprint" alt='earth building' class="entity">
                </div>
            </div>
        </div>
        <div id="right-column" class="container-fluid">
            <div class="row player-box">
                <div>
                    <img src="{% static 'game_board_app/images/star.png' %}" alt='Profile Picture' >
                </div>
                <p id="player2_name">Player 2</p>
            </div>
            <div class="row player-hp">
                <p>Health: <strong id="player2_health">10</strong></p>
                <p>Actions: <strong id="player1_ap">100</strong></p>
                <p>Resources: <strong id="player1_res">50</strong></p>
            </div>

            <div id="button-layer" class="row">
                <div id="button-box">
                    <button id="complete_turn" type="button" class="btn btn-info end-turn-btn">
                        End Turn
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>