<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Samsara - Game Board</title>

    <!-- Bootstrap CSS -->
    {% load static %}  
        <link rel="stylesheet" href="{% static 'game_board_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/jquery-ui.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'game_board_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">

        <script src="{% static 'game_board_app/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/utils.js' %}"></script>
        <script src="{% static 'game_board_app/js/tether.min.js' %}"></script>
        <script src="{% static 'game_board_app/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            
            waitTurn = null;

            function makeDraggables(){
                console.log('make me draggable')
                $('.makeMeDraggable').draggable({
                    stack: $('.makeMeDraggable'),
                    containment: $('body'),
                    helper: "clone"
                });
            }

            function findDroppables(){
                $(".makeMeDroppable").droppable({
                    drop: function (event, ui) {
                        var $div=$(this);
                        var draggable = ui.draggable;
                        draggable = draggable.clone();
                        draggable.removeClass('col-2 makeMeDraggable').appendTo(this);

                        var params = { column: $div.attr('data-column'), row: $div.attr('data-row'), element: draggable.attr('id') }
                        
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                }
                            }
                        });
                        
                        $.ajax( { type: "POST",
                            url: '/game_board/place_building',
                            dataType: "json",
                            data: JSON.stringify(params),
                            contentType: "application/json; charset=utf-8",
                            traditional: true,
                            success: function(result) {
                                console.log(result)
                                console.log("Success!")
                                //$btn.parent().html("<img src={% static 'game_board_app/images/fire_building.png' %} alt='fire building'>")
                            }
                        });
                    }
                });
            }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            // setInterval(onTimerTick, 33); // 33 milliseconds = ~ 30 frames per sec
            
            onTimerTick()

            function onTimerTick() {
                $.get('/game_board/get_squares', function(res){
                    $('#board-area').html(res);
                    findDroppables();

                    $.get('/game_board/get_players_info', function(res){
                        console.log(res)
                        $('#player1_name').html(res.current_player);
                        $('#player1_health').html(res.current_player_health);
                        
                        $('#player2_name').html(res.opponent);
                        $('#player2_health').html(res.opponent_health);
                        
                        if(res.current_player_turn){
                            clearInterval(waitTurn);
                            $('#complete_turn').removeAttr('disabled');
                            makeDraggables();
                        }else{
                            $('#complete_turn').attr('disabled','disabled');
                            onTimerTick();
                        }

                        updatePlayersTurn(res.turn);

                    }, "json");
                });
            }

            $(document).on('click', 'button.navbar-btn', function(){
                clearInterval(waitTurn);
                window.location = '/lobby';
            });

            $(document).on('mouseenter', '.entity', function(){
                displayInfo($(this));
            }).on('mouseleave', '.entity', function(){
                $('#info-box').html('');
            });

            function displayInfo($entity){
                var entity='<p><strong>'+$entity.attr('data-type')+'</strong></p>';
                var type='<p><strong>Type:</strong> '+$entity.attr('data-name')+'</p>';
                var health='<p><strong>Health:</strong> '+$entity.attr('data-health')+'</p>';
                var info=entity+type+health;
                $('#info-box').html(info);
            }

            function updatePlayersTurn(playerName){
                $('#header h2').text(playerName+"'s Turn");
            }

            $(document).on('click', '#complete_turn', function(){
                $.get('/game_board/complete_turn', function(res){
                    onTimerTick();
                });
            });

        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="row">
            <h2></h2>
        </div>
        <div id="left-column" class="container-fluid">
            <div id="menu" class="row">
                <button type="button" class="btn btn-info navbar-btn">
                    Lobby
                </button>
                <!-- <div>
                    <a href="/main_menu/">Main Menu</a>
                    <a href="/concede/">Concede</a>
                    <a href="/quit/">Quit</a>
                </div> -->
            </div>

            <div class="align-self-end">
                <div class="row player-hp">
                    <p>Health: <strong id="player1_health">10</strong></p>
                </div>
                <div class="row player-box">
                    <div>
                        <img src="{% static 'game_board_app/images/star-empty.png' %}" alt='Profile Picture' >
                    </div>
                    <p id="player1_name">Player 1</p>
                </div>
            </div>

            <div id="info-layer" class="row">
                <div id="info-box">
                    
                </div>
            </div>
        </div>
        <div id="middle-column" class="container-fluid">
            <div id="board-area">

            </div>
            <div id="footer">
                <div id="fire" class="col-2 board-space makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/fire_building.png' %}" data-type="Building" data-name="Fire" data-health="Blueprint" alt='fire building'  class="entity">
                </div>
                <div id="water" class="col-2 board-space makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/water_building.png' %}" data-type="Building" data-name="Water" data-health="Blueprint" alt='water building' class="entity">
                </div>
                <div id="wood" class="col-2 board-space makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/wood_building.png' %}" data-type="Building" data-name="Wood" data-health="Blueprint" alt='wood building'  class="entity">
                </div>
                <div id="metal" class="col-2 board-space makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/metal_building.png' %}" data-type="Building" data-name="Metal" data-health="Blueprint" alt='metal building' class="entity">
                </div>
                <div id="earth" class="col-2 board-space makeMeDraggable container-fluid">
                    <img src="{% static 'game_board_app/images/earth_building.png' %}" data-type="Building" data-name="Earth" data-health="Blueprint" alt='earth building' class="entity">
                </div>
            </div>
        </div>
        <div id="right-column" class="container-fluid">
            <div class="row player-box">
                <div>
                    <img src="{% static 'game_board_app/images/star.png' %}" alt='Profile Picture' >
                </div>
                <p id="player2_name">Player 2</p>
            </div>
            <div class="row player-hp">
                <p>Health: <strong id="player2_health">10</strong></p>
            </div>

            <div id="button-layer" class="row">
                <div id="button-box">
                    <button id="complete_turn" type="button" class="btn btn-info end-turn-btn">
                        End Turn
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>