#wrapper {
    width: 90%;
    margin: 20px auto;
    flex-wrap: nowrap;
}
.container-fluid {
    display: inline-block;
    vertical-align: top;
}
#left-column, #right-column {
    width: 19%;
    height: 90vh;
}
#left-column button {
    height: 40px;
    margin: 20px auto;
}
#middle-column {
    width: 60%;
}
#menu {
    margin: 0px auto;
    height: 50vh;              
}
button {
    cursor: pointer;
}
.player-box {
    border: 1px solid black;
    height: 20vh;
    text-align: center;
}
.player-box div {
    width: 100%;
    padding-top: 20px;
}
.player-box p {
    width: 100%;
}
.player-box img {
    height: 10vh;
}
.player-hp {
    border: 1px solid black;
    height: 10vh;
    text-align: center;
}
.player-hp p {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.player-hp p~p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.board-space {
    border: 1px inset #c6e57b;
    height: 10vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.board-space div {
    width: 102%;
    height: 10vh;
    margin-left: -1px;
    background-color: transparent;
    border: none;
}
#footer {
    margin-top: 5px;
    border: 1px solid black;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    height: 10vh;
}
#board-area {
    height: 80vh;
}
.makeMeDraggable { 
    cursor: pointer;
}
.makeMeDraggable img, .board-space img {
    height: 9vh;
    margin-top: 2px;
}

#info-layer {
    border: 1px solid black;
    height: 10vh;
    margin-top: 5px;
    padding: 10px;
}
#info-layer p {
    line-height: 0.5em;
    text-transform: capitalize;
}
#header {
    text-align: center;
    height: 6vh;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 3px;
    margin-bottom: 8px;
    width: 59%;
    margin-left: 20%;
    box-shadow: 3px 3px 3px darkgrey;
}
#header h2 {
    display: block;
    width: 100%;
}

#button-layer {
    border: 1px solid black;
    height: 10vh;
    margin-top: 50.6vh;
    padding: 21px 0px 0px;
    text-align: center;
}

#button-box {
    width: 100%;
}

.land {
    background-size: cover;
    background-repeat: no-repeat;
}
.land1 {
    background-image: url(../images/land1.png);
}
.land2 {
    background-image: url(../images/land2.png);
}
.land3 {
    background-image: url(../images/land3.png);
}
.land4 {
    background-image: url(../images/land4.png);
}
.land5 {
    background-image: url(../images/land5.png);
}

.btn-info {
    box-shadow: 3px 3px 3px darkgrey;
}